<div class="row ">
    <div class="col-md-12">
        {{#unless data.id}}
            <div class="row">
                <div class="col-md-12 text-center">
                    <strong>{{data.message}}</strong>
                </div>
            </div>
        {{/unless}}
        <h2>Categories</h2>
        <hr />
        <div class="table-responsive text-center">
            <table class="table table-striped">
                <thead>
                    <tr >
                        <th class="text-center">Id</th>
                        <th class="text-center">Value</th>
                    </tr>
                </thead>
                {{#each data}}
                    <tbody>
                        <tr>
                            <td><a href="posts?category={{id}}">{{id}}</a></td>
                            <td>{{category}}</td></td>
                        </tr>
                    </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>
